In [1]:
import numpy as np

In [2]:
li1 = [1, 2.0, '3']
li1

[1, 2.0, '3']

In [3]:
ar1 = np.array(object = li1)
ar1

array(['1', '2.0', '3'], dtype='<U32')

In [4]:
type(ar1)

numpy.ndarray

In [5]:
ar1.ndim

1

In [6]:
ar1.shape

(3,)

In [7]:
ar1.size

3

In [8]:
ar1.dtype

dtype('<U32')

In [9]:
ar1

array(['1', '2.0', '3'], dtype='<U32')

ar1.astype(int)

In [10]:
ar1.astype(float)

array([1., 2., 3.])

In [11]:
#method chaining
ar1.astype(float).astype(int)

array([1, 2, 3])

In [12]:
ar1.astype(float).astype(int).astype(str)

array(['1', '2', '3'], dtype='<U21')

In [13]:
np.array(object = li1, dtype = float)

array([1., 2., 3.])

In [14]:
np.array(object = li1, dtype = str)

array(['1', '2.0', '3'], dtype='<U3')

In [15]:
np.array(object = li1, dtype = object)

array([1, 2.0, '3'], dtype=object)

In [16]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [17]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [18]:
list(range(1,6,2))

[1, 3, 5]

list(range(0,1,0.1))

In [19]:
np.arange(6)

array([0, 1, 2, 3, 4, 5])

In [20]:
np.arange(1,6)

array([1, 2, 3, 4, 5])

In [21]:
np.arange(1,6,2)

array([1, 3, 5])

In [22]:
np.arange(0,1,0.1)

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9])

In [23]:
np.arange(0,1.1,0.1)

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ])

In [24]:
np.linspace(0,1,10+1)

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ])

In [25]:
np.linspace(80,75,30+1)

array([80.        , 79.83333333, 79.66666667, 79.5       , 79.33333333,
       79.16666667, 79.        , 78.83333333, 78.66666667, 78.5       ,
       78.33333333, 78.16666667, 78.        , 77.83333333, 77.66666667,
       77.5       , 77.33333333, 77.16666667, 77.        , 76.83333333,
       76.66666667, 76.5       , 76.33333333, 76.16666667, 76.        ,
       75.83333333, 75.66666667, 75.5       , 75.33333333, 75.16666667,
       75.        ])

In [26]:
np.tile(ar1, 2)

array(['1', '2.0', '3', '1', '2.0', '3'], dtype='<U32')

In [27]:
np.repeat(ar1, 2)

array(['1', '1', '2.0', '2.0', '3', '3'], dtype='<U32')

In [28]:
np.repeat(ar1, [3,2,1])

array(['1', '1', '1', '2.0', '2.0', '3'], dtype='<U32')

In [29]:
ar1 = np.arange(1, 12, 2)
ar1

array([ 1,  3,  5,  7,  9, 11])

In [30]:
ar1[0]

np.int64(1)

In [31]:
ar1[1]

np.int64(3)

In [32]:
ar1[-1]

np.int64(11)

In [33]:
ar1[-1].item()

11

In [34]:
ar1[0:3]

array([1, 3, 5])

In [35]:
ar1[:3]

array([1, 3, 5])

In [36]:
ar1[3:]

array([ 7,  9, 11])

In [37]:
ar1[:]

array([ 1,  3,  5,  7,  9, 11])

In [38]:
ar1[[3,1,2]]

array([7, 3, 5])

In [39]:
ar1[[3,3,3]]

array([7, 7, 7])

In [40]:
ar1[[False,False,False,True,True,True]]

array([ 7,  9, 11])

In [41]:
ar1[ar1 >= 7]

array([ 7,  9, 11])

In [42]:
ar1[[3]*3]

array([7, 7, 7])

In [43]:
ar1[np.tile(3,3)]

array([7, 7, 7])

In [44]:
ar1[[False]*3 + [True]*3]

array([ 7,  9, 11])

In [45]:
ar1[np.repeat([False, True], 3)]

array([ 7,  9, 11])

In [46]:
li2 = [[1,2,3],[7,9,11]]
li2

[[1, 2, 3], [7, 9, 11]]

In [47]:
ar2 = np.array(object = li2)
ar2

array([[ 1,  2,  3],
       [ 7,  9, 11]])

In [48]:
type(ar2)

numpy.ndarray

In [49]:
ar2.ndim

2

In [50]:
ar2.shape

(2, 3)

In [51]:
ar2.size

6

In [52]:
ar2.dtype

dtype('int64')

In [53]:
ar2

array([[ 1,  2,  3],
       [ 7,  9, 11]])

In [54]:
ar2[0,0]

np.int64(1)

In [55]:
ar2[0]

array([1, 2, 3])

In [56]:
ar2[0, :]

array([1, 2, 3])

In [57]:
ar2[0:2, 0:2]

array([[1, 2],
       [7, 9]])

In [58]:
ar2[:, 1:3]

array([[ 2,  3],
       [ 9, 11]])

In [59]:
ar2[:, [2,1]]

array([[ 3,  2],
       [11,  9]])

In [60]:
ar1

array([ 1,  3,  5,  7,  9, 11])

In [61]:
ar1.reshape(2,3)

array([[ 1,  3,  5],
       [ 7,  9, 11]])

In [62]:
ar1.reshape(2,3, order = 'F')

array([[ 1,  5,  9],
       [ 3,  7, 11]])

In [63]:
ar2 = ar1.reshape(2, -1)
ar2

array([[ 1,  3,  5],
       [ 7,  9, 11]])

In [64]:
ar2.flatten()

array([ 1,  3,  5,  7,  9, 11])

In [65]:
ar2.ravel()

array([ 1,  3,  5,  7,  9, 11])

In [66]:
np.array([[0,1,2]]) +1

array([[1, 2, 3]])

In [67]:
ar1 = np.array([i**2 for i in range(1, 6)])
ar1

array([ 1,  4,  9, 16, 25])

In [68]:
np.diff(ar1, n=2)

array([2, 2, 2])

In [69]:
ar1 = np.array(object = [1,5,0,3,7,8,3,5,0,8])

In [70]:
np.min(ar1)

np.int64(0)

In [71]:
np.max(ar1)

np.int64(8)

In [72]:
np.argmin(ar1)

np.int64(2)

In [73]:
np.argmax(ar1)

np.int64(5)

In [74]:
np.argsort(ar1)

array([2, 8, 0, 3, 6, 1, 7, 4, 5, 9])

In [75]:
ar1.tolist().count(np.min(ar1))

2

In [76]:
np.random.seed(1)
np.random.rand()

0.417022004702574

In [77]:
np.random.seed(1)
np.random.rand()

0.417022004702574

In [78]:
for i in range(5):
    print(np.random.rand())

0.7203244934421581
0.00011437481734488664
0.30233257263183977
0.14675589081711304
0.0923385947687978

In [79]:
for i in range(5):
    np.random.seed(1)
    print(np.random.rand())

0.417022004702574
0.417022004702574
0.417022004702574
0.417022004702574
0.417022004702574

In [80]:
np.random.seed(1)
for i in range(5):
    print(np.random.rand())

0.417022004702574
0.7203244934421581
0.00011437481734488664
0.30233257263183977
0.14675589081711304

In [81]:
np.random.seed(1)
for i in range(5):
    print(np.random.rand())

0.417022004702574
0.7203244934421581
0.00011437481734488664
0.30233257263183977
0.14675589081711304

In [82]:
np.random.randint(5)

0

In [83]:
np.random.randint(1, 7, 5)

array([2, 5, 6, 5, 2], dtype=int32)

In [84]:
dice = np.random.randint(1, 7, 100000)

In [85]:
for i in range(1,7):
    print(dice.tolist().count(i))

16724
16643
16724
16553
16699
16657

In [86]:
for i in range(10):
    lotto = np.random.choice(a = range(1, 46), size =6, replace =False)
    print(sorted(lotto.tolist()))

[4, 17, 20, 21, 26, 37]
[3, 20, 28, 29, 34, 37]
[9, 10, 11, 12, 16, 17]
[2, 12, 17, 18, 20, 27]
[13, 18, 19, 21, 34, 36]
[3, 17, 29, 34, 42, 44]
[3, 10, 13, 18, 25, 26]
[7, 26, 39, 41, 42, 43]
[3, 11, 16, 22, 29, 43]
[1, 2, 22, 35, 43, 44]

In [87]:
import pandas as pd

In [88]:
li1

[1, 2.0, '3']

In [89]:
np.array(object =li1)

array(['1', '2.0', '3'], dtype='<U32')

In [90]:
sr = pd.Series(data =li1)
sr

0      1
1    2.0
2      3
dtype: object

In [91]:
type(sr)

pandas.core.series.Series

In [92]:
for i in sr:
    print(type(i))

<class 'int'>
<class 'float'>
<class 'str'>

sr + 1

sr + '1'

In [93]:
sr.astype(str)+ '1'

0      11
1    2.01
2      31
dtype: object

In [94]:
sr.astype(int)+ 1

0    2
1    3
2    4
dtype: int64

In [95]:
sr.astype(float)+ 1

0    2.0
1    3.0
2    4.0
dtype: float64

In [96]:
sr = sr.astype(float)

In [97]:
sr.shape

(3,)

In [98]:
sr.size

3

In [99]:
sr.dtype

dtype('float64')

In [100]:
sr.index

RangeIndex(start=0, stop=3, step=1)

In [101]:
sr.values

array([1., 2., 3.])

In [102]:
sr

0    1.0
1    2.0
2    3.0
dtype: float64

In [104]:
sr.index = [1,2,3]
sr

1    1.0
2    2.0
3    3.0
dtype: float64

In [105]:
sr.index = [1,1,1]
sr

1    1.0
1    2.0
1    3.0
dtype: float64

In [106]:
sr.index = [1.0,2.0,3.0]
sr

1.0    1.0
2.0    2.0
3.0    3.0
dtype: float64

In [108]:
sr.index = ['a','b','c']
sr

a    1.0
b    2.0
c    3.0
dtype: float64

In [109]:
pd.Series(data = li1, index= ['a','b','c'])

a      1
b    2.0
c      3
dtype: object

In [110]:
pd.Series(data = {'a':1, 'b':2.0, 'c': '3'})

a      1
b    2.0
c      3
dtype: object

In [112]:
sr[sr == 3]

c    3.0
dtype: float64

In [113]:
sr[0]

C:\Users\user\AppData\Local\Temp\ipykernel_14404\3717362250.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sr[0]

np.float64(1.0)

In [114]:
sr.iloc[0]

np.float64(1.0)

In [115]:
sr['a']

np.float64(1.0)

In [116]:
sr.loc['a']

np.float64(1.0)

In [117]:
sr[0:3]

a    1.0
b    2.0
c    3.0
dtype: float64

In [118]:
sr['a':'c']

a    1.0
b    2.0
c    3.0
dtype: float64

In [119]:
sr0 = pd.Series(data=[1,2,3], index=['c', 'a', 'b'])
sr0

c    1
a    2
b    3
dtype: int64

In [120]:
sr0['a':'c']

Series([], dtype: int64)

In [123]:
sr0['c':'a']

c    1
a    2
dtype: int64

In [125]:
sr0.loc['c':'a']

c    1
a    2
dtype: int64

In [126]:
sr0.iloc[0:2]

c    1
a    2
dtype: int64

In [127]:
sr

a    1.0
b    2.0
c    3.0
dtype: float64

In [128]:
sr[[0,2]]

C:\Users\user\AppData\Local\Temp\ipykernel_14404\3491809151.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sr[[0,2]]

a    1.0
c    3.0
dtype: float64

In [129]:
sr[['a' , 'c']]

a    1.0
c    3.0
dtype: float64

In [130]:
sr[[False, False, True]]

c    3.0
dtype: float64

In [131]:
sr[sr>=3]

c    3.0
dtype: float64

In [132]:
sr.iloc[0]

np.float64(1.0)

In [133]:
sr.iloc[0:3]

a    1.0
b    2.0
c    3.0
dtype: float64

In [134]:
sr.iloc[[0]]

a    1.0
dtype: float64

In [135]:
sr.iloc[[0,2]]

a    1.0
c    3.0
dtype: float64

In [138]:
sr.iloc[sr < 3]

ValueError: iLocation based boolean indexing cannot use an indexable as a mask

In [139]:
sr.loc['a']

np.float64(1.0)

In [140]:
sr.loc['a':'c']

a    1.0
b    2.0
c    3.0
dtype: float64

In [141]:
sr.loc[['a']]

a    1.0
dtype: float64

In [142]:
sr.loc[['a', 'c']]

a    1.0
c    3.0
dtype: float64

In [149]:
sr.loc[sr <3]

a    1.0
b    2.0
dtype: float64

In [165]:
sr1 = pd.Series(data = li1, index = range(1,4))
sr1

1      1
2    2.0
3      3
dtype: object

In [166]:
sr1[0]

KeyError: 0

In [163]:
sr1.iloc[0]

1

In [168]:
sr1.iloc[1]

2.0

In [170]:
sr2 = pd.Series(data = li1, index = [1]*3)
sr2

1      1
1    2.0
1      3
dtype: object

In [171]:
sr2.loc[1]

1      1
1    2.0
1      3
dtype: object

In [172]:
sr2.iloc[0]

1

In [173]:
sr.loc['d'] =4
sr

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [175]:
sr.loc['d'] =5
sr

a    1.0
b    2.0
c    3.0
d    5.0
dtype: float64

In [176]:
sr.drop(index = 'd')

a    1.0
b    2.0
c    3.0
dtype: float64

In [177]:
sr

a    1.0
b    2.0
c    3.0
d    5.0
dtype: float64

In [178]:
sr >= 1

a    True
b    True
c    True
d    True
dtype: bool

In [180]:
(sr >= 1) & (sr <3)

a     True
b     True
c    False
d    False
dtype: bool

In [181]:
(sr >= 1) | (sr <3)

a    True
b    True
c    True
d    True
dtype: bool

In [182]:
(sr >= 1) ^ (sr <3)

a    False
b    False
c     True
d     True
dtype: bool

In [184]:
~((sr >= 1) & (sr <3))

a    False
b    False
c     True
d     True
dtype: bool

In [185]:
sr1

1      1
2    2.0
3      3
dtype: object

In [186]:
sr3 = sr1

In [189]:
id(sr1) == id(sr3)

True

In [190]:
sr3.iloc[0] = 2
sr3

1      2
2    2.0
3      3
dtype: object

In [191]:
sr1

1      2
2    2.0
3      3
dtype: object

In [192]:
sr4 = sr1.copy()

In [193]:
id(sr1) == id(sr4)

False

In [195]:
sr4.iloc[0] =1
sr4

1      1
2    2.0
3      3
dtype: object

In [196]:
sr1

1      2
2    2.0
3      3
dtype: object

In [198]:
li2 = [[1,2], [3,4], [5.0,'6']]
li2

[[1, 2], [3, 4], [5.0, '6']]

In [199]:
np.array(object = li2)

array([['1', '2'],
       ['3', '4'],
       ['5.0', '6']], dtype='<U32')

In [201]:
df = pd.DataFrame(data = li2)
df

     0  1
0  1.0  2
1  3.0  4
2  5.0  6

In [202]:
type(df)

pandas.core.frame.DataFrame

In [203]:
df.shape

(3, 2)

In [204]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [205]:
df.columns

RangeIndex(start=0, stop=2, step=1)

In [206]:
df.dtypes

0    float64
1     object
dtype: object

In [207]:
df.values

array([[1.0, 2],
       [3.0, 4],
       [5.0, '6']], dtype=object)

In [208]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      float64
 1   1       3 non-null      object
dtypes: float64(1), object(1)
memory usage: 180.0+ bytes

In [210]:
df.index = range(1,4)
df

     0  1
1  1.0  2
2  3.0  4
3  5.0  6

In [240]:
df.columns = ['A', 'B']
df

     A  B
1  1.0  2
2  3.0  4
3  5.0  6

In [241]:
pd.DataFrame(data = li2, index = range(1,4), columns=['A', 'B'])

     A  B
1  1.0  2
2  3.0  4
3  5.0  6

In [242]:
df

     A  B
1  1.0  2
2  3.0  4
3  5.0  6

In [243]:
df.iloc[0]

A    1.0
B      2
Name: 1, dtype: object

In [244]:
df.iloc[0:2]

     A  B
1  1.0  2
2  3.0  4

In [245]:
df.iloc[[1,0]]

     A  B
2  3.0  4
1  1.0  2

In [246]:
df.iloc[[1,0], :]

     A  B
2  3.0  4
1  1.0  2

In [247]:
df.iloc[:, 0]

1    1.0
2    3.0
3    5.0
Name: A, dtype: float64

In [248]:
df.iloc[:, 0:2]

     A  B
1  1.0  2
2  3.0  4
3  5.0  6

In [249]:
df.iloc[:, [1,0]]

   B    A
1  2  1.0
2  4  3.0
3  6  5.0

In [250]:
df

     A  B
1  1.0  2
2  3.0  4
3  5.0  6

In [251]:
df.loc[1]

A    1.0
B      2
Name: 1, dtype: object

In [252]:
df.loc[1:2]

     A  B
1  1.0  2
2  3.0  4

In [253]:
df.loc[[2,1]]

     A  B
2  3.0  4
1  1.0  2

In [254]:
df.loc[[2,1], :]

     A  B
2  3.0  4
1  1.0  2

In [255]:
df.loc[:, 'A']

1    1.0
2    3.0
3    5.0
Name: A, dtype: float64

In [256]:
df.loc[:,'A': 'B']

     A  B
1  1.0  2
2  3.0  4
3  5.0  6

In [257]:
df.loc[:,['B', 'A']]

   B    A
1  2  1.0
2  4  3.0
3  6  5.0

In [258]:
df.loc[4] = [7.0, 8]
df

     A    B
1  1.0    2
2  3.0    4
3  5.0    6
4  7.0  8.0

In [263]:
df['C'] = ['a', 'b', 'c', 'd']
df

     A    B  C
1  1.0    2  a
2  3.0    4  b
3  5.0    6  c
4  7.0  8.0  d

In [264]:
df.loc[4, 'C'] = 'D'
df

     A    B  C
1  1.0    2  a
2  3.0    4  b
3  5.0    6  c
4  7.0  8.0  D

In [265]:
df.drop(index = 4, columns='C')

     A  B
1  1.0  2
2  3.0  4
3  5.0  6

In [405]:
import os
import numpy as np
import pandas as pd
import chardet

In [406]:
os.getcwd()

'C:\\Users\\user\\Documents\\project\\data'

In [407]:
os.chdir(path= 'C:\\Users\\user\\Documents\\project\\code')
os.getcwd()

'C:\\Users\\user\\Documents\\project\\code'

In [408]:
os.chdir(path ='..')
os.getcwd()

'C:\\Users\\user\\Documents\\project'

In [409]:
os.chdir(path = './code')
os.getcwd()

'C:\\Users\\user\\Documents\\project\\code'

In [410]:
os.chdir(path = '../data')
os.getcwd()

'C:\\Users\\user\\Documents\\project\\data'

In [411]:
os.chdir(path = r'C:\Users\user\Documents\project\data')
os.getcwd()

'C:\\Users\\user\\Documents\\project\\data'

In [412]:
os.mkdir(path = 'temp')

In [413]:
os.listdir()

['APT_Detail_Seoul_2024.csv',
 'APT_Detail_Seoul_2024.xlsx',
 'APT_Price_Seoul(2020~2024).xlsx',
 'APT_Price_Seoul_2020.csv',
 'APT_Price_Seoul_2021.csv',
 'APT_Price_Seoul_2022.csv',
 'APT_Price_Seoul_2023.csv',
 'APT_Price_Seoul_2024.csv',
 'KBO_Hitter_Stats_2024.csv',
 'KBO_Pitcher_Stats_2024.csv',
 'MPRC_2024.csv',
 'MPRC_2024.xlsx',
 'MPRC_List.xlsx',
 'MPRC_List_2.xlsx',
 'NA_Sample.xlsx',
 'temp',
 'test.png',
 'test.xlsx']

In [414]:
os.rmdir(path = 'temp')

In [415]:
files = os.listdir()
for file in files:
    if 'xlsx' in file:
        print(file)

APT_Detail_Seoul_2024.xlsx
APT_Price_Seoul(2020~2024).xlsx
MPRC_2024.xlsx
MPRC_List.xlsx
MPRC_List_2.xlsx
NA_Sample.xlsx
test.xlsx

In [416]:
[file for file in files if 'xlsx' in file]

['APT_Detail_Seoul_2024.xlsx',
 'APT_Price_Seoul(2020~2024).xlsx',
 'MPRC_2024.xlsx',
 'MPRC_List.xlsx',
 'MPRC_List_2.xlsx',
 'NA_Sample.xlsx',
 'test.xlsx']

In [417]:
pd.read_excel('APT_Price_Seoul(2020~2024).xlsx')

,Unnamed: 0,,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,- 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,,,,,,,,,,,,,,,
3,NaN,"100,500",11680,,,,,12,1992,2020,1,31,NaN,NaN,39.53,13
4,NaN,"203,000",11680,,,,,12-2,2004,2020,1,6,NaN,NaN,134.3,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83984,NaN,"54,800",11260,,,,,11,2007,2020,12,3,NaN,NaN,100.17,5
83985,NaN,"59,800",11260,(103~109),,,,450,1997,2020,12,1,NaN,NaN,59.76,17
83986,NaN,"58,000",11260,(103~109),,,,450,1997,2020,12,5,NaN,NaN,59.76,19
83987,NaN,"57,500",11260,(101),,,,274-51,2003,2020,12,1,NaN,NaN,116.25,6
83988,NaN,"62,500",11260,(103~109),,,,450,1997,2020,12,11,NaN,NaN,59.76,19

In [418]:
%%time
dfs = pd.read_excel(io = 'APT_Price_Seoul(2020~2024).xlsx', 
sheet_name = None, 
usecols = range(1,16), 
skiprows = 3, 
thousands = ',')

CPU times: total: 4.97 s
Wall time: 17.7 s

In [419]:
dfs

{'2020':                                                   \
 0      100500  11680                            12  1992
 1      203000  11680                             12-2  2004
 2      180000  11680                6           185  1983
 3      285000  11680                         1281  2019
 4      171000  11680                7           185  1983
 ...       ...    ...                    ...    ...  ...  ...     ...   ...
 83981   54800  11260                              11  2007
 83982   59800  11260  (103~109)           450  1997
 83983   58000  11260  (103~109)           450  1997
 83984   57500  11260                (101)        274-51  2003
 83985   62500  11260  (103~109)           450  1997


 0      2020   1  31   NaN  NaN   39.53  13
 1      2020   1   6   NaN  NaN  134.30  17
 2      2020   1  14   NaN  NaN   60.13  14
 3      2020   1   4   NaN  NaN   94.29  12
 4      2020   1  12   NaN  NaN   60.76   2
 ...     ...  ..  ..   ...  ...     ...  ..
 83981  2020  12   3   NaN  NaN  100.17   5
 83982  2020  12   1   NaN  NaN   59.76  17
 83983  2020  12   5   NaN  NaN   59.76  19
 83984  2020  12   1   NaN  NaN  116.25   6
 83985  2020  12  11   NaN  NaN   59.76  19

 [83986 rows x 15 columns],
 '2021':                                                   \
 0      245000  11680             1282  2020  2021   1  17
 1      111000  11680  2            12  1992  2021   1  21
 2      235000  11680     7           185  1983  2021   1  30
 3      267000  11680              1280  2019  2021   1  14
 4      310000  11680         2           654  1986  2021   1  30
 ...       ...    ...         ...    ...  ...  ...     ...   ...   ...  ..  ..
 43333   50000  11260     (101)        274-51  2003  2021  11   4
 43334   69500  11260               286-22  2004  2021  12  31
 43335   96000  11260     2           454  2013  2021  12   4
 43336   77500  11260               286-22  2004  2021  12   4
 43337   32500  11260     e(B)          19-3  2004  2021  12  13


 0       NaN  NaN   74.660   7
 1       NaN  NaN   33.180  12
 2       NaN  NaN   73.260   1
 3       NaN  NaN   84.943   6
 4       NaN  NaN  165.080   1
 ...     ...  ...      ...  ..
 43333   NaN  NaN   84.690   2
 43334   NaN  NaN   84.770   5
 43335   NaN  NaN   84.870   7
 43336   NaN  NaN   84.820  10
 43337   NaN  NaN   82.650   3

 [43338 rows x 15 columns],
 '2022':                                                   \
 0      280000  11680                6           185  1983
 1      272000  11680                    2           654  1986
 2      120000  11680             2            12  1992
 3      300000  11680                         1280  2019
 4      125000  11680             2            12  1992
 ...       ...    ...                    ...    ...  ...  ...     ...   ...
 12751   74000  11260  (103~109)           450  1997
 12752   11400  11260                           208-4  2012
 12753   23000  11260                             297-84  2003
 12754   69500  11260              .           438  1995
 12755   11500  11260                           208-4  2012


 0      2022   1  15   NaN  NaN  83.210   8
 1      2022   1  15   NaN  NaN  84.810   8
 2      2022   1  25   NaN  NaN  33.180   8
 3      2022   1  15   NaN  NaN  84.943   7
 4      2022   1   8   NaN  NaN  33.180   7
 ...     ...  ..  ..   ...  ...     ...  ..
 12751  2022   7  20   NaN  NaN  59.760   3
 12752  2022   7  14   NaN  NaN  17.940  14
 12753  2022   8  31   NaN  NaN  58.050   5
 12754  2022   9  17   NaN  NaN  84.900   8
 12755  2022  10   3   NaN  NaN  17.940   8

 [12756 rows x 15 columns],
 '2023':                                                   \
 0       97000  11680                            12  1992
 1       85500  11680             2            12  1992
 2       90000  11680                           1283  2022
 3      171000  11680                         1280  2019
 4       86000  11680             2            12  1992
 ...       ...    ...                    ...    ...  ...  ...     ...   ...
 35626   74350  11260  (103~109)           450  1997
 35627   60000  11260  (103~109)           450  1997
 35628   60000  11260  (102~102)           450  1998
 35629   73000  11260  (103~109)           450  1997
 35630   47500  11260                (101)        274-51  2003


 0      2023   1  17 2023-05-10  NaN  39.5300   8
 1      2023   1  28 2023-04-10  NaN  33.1800   9
 2      2023   1  17 2023-03-31  NaN  50.8665   4
 3      2023   1  14 2023-03-30  NaN  59.9670  19
 4      2023   1  30 2023-04-28  NaN  33.1800  11
 ...     ...  ..  ..        ...  ...      ...  ..
 35626  2023  12  21 2024-04-19  NaN  84.8700   6
 35627  2023  12   9 2024-02-26  NaN  59.7600  11
 35628  2023  12   2 2024-02-29  NaN  59.7600   7
 35629  2023  12   7 2024-02-27  NaN  84.6900   8
 35630  2023  12   3 2024-02-13  NaN  71.8300   2

 [35631 rows x 15 columns],
 '2024':                                                  \
 0      219000  11680                        1281  2019
 1      175000  11680                7          185  1983
 2      200000  11680                        1280  2019
 3      175000  11680                7          185  1983
 4      282000  11680                    2          654  1986
 ...       ...    ...                    ...    ...  ...  ...    ...   ...
 56188   74000  11260  (102~102)          450  1998
 56189   50500  11260              .          438  1995
 56190   60000  11260  (103~109)          450  1997
 56191   67000  11260  (102~102)          450  1998
 56192   11000  11260                          208-4  2012


 0      2024   1  30 2024-04-30     59.8732  17
 1      2024   1  31 2024-03-20     53.4600   5
 2      2024   1  27 2024-02-29     59.9670   9
 3      2024   1  31        NaT     53.4600   5
 4      2024   1  19 2024-05-30    131.8300   1
 ...     ...  ..  ..        ...  ..       ...  ..
 56188  2024  11  21 2024-12-13     84.0300  11
 56189  2024  11  13 2024-12-18     59.3400  10
 56190  2024  11  18 2024-11-20     59.7600   4
 56191  2024  11   2        NaT     59.7600   9
 56192  2024  12   7        NaT     17.9400  15

 [56193 rows x 15 columns]}

In [420]:
df1 = pd.concat(objs= dfs, ignore_index = True)
df1

C:\Users\user\AppData\Local\Temp\ipykernel_14404\4240166552.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df1 = pd.concat(objs= dfs, ignore_index = True)

,,,,,,,,,,,,,,,
0,100500,11680,,,,,12,1992,2020,1,31,NaT,NaN,39.53,13
1,203000,11680,,,,,12-2,2004,2020,1,6,NaT,NaN,134.30,17
2,180000,11680,6,,,,185,1983,2020,1,14,NaT,NaN,60.13,14
3,285000,11680,,,,,1281,2019,2020,1,4,NaT,NaN,94.29,12
4,171000,11680,7,,,,185,1983,2020,1,12,NaT,NaN,60.76,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231899,74000,11260,(102~102),,,,450,1998,2024,11,21,2024-12-13,,84.03,11
231900,50500,11260,.,,,,438,1995,2024,11,13,2024-12-18,,59.34,10
231901,60000,11260,(103~109),,,,450,1997,2024,11,18,2024-11-20,,59.76,4
231902,67000,11260,(102~102),,,,450,1998,2024,11,2,NaT,,59.76,9
231903,11000,11260,,,,,208-4,2012,2024,12,7,NaT,,17.94,15

In [421]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231904 entries, 0 to 231903
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0       231904 non-null  int64
 1       231904 non-null  int64
 2        231904 non-null  object
 3        231904 non-null  object
 4        231904 non-null  object
 5        231904 non-null  object
 6         231904 non-null  object
 7       231904 non-null  int64
 8          231904 non-null  int64
 9          231904 non-null  int64
 10         231904 non-null  int64
 11      79535 non-null   datetime64[ns]
 12       56193 non-null   object
 13      231904 non-null  float64
 14         231904 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(7), object(6)
memory usage: 26.5+ MB

In [422]:
%time df1.to_excel('test.xlsx', index = False)

CPU times: total: 14.8 s
Wall time: 34.6 s

In [423]:
df1.head()

,,,,,,,,,,,,,,,
0,100500,11680,,,,,12,1992,2020,1,31,NaT,NaN,39.53,13
1,203000,11680,,,,,12-2,2004,2020,1,6,NaT,NaN,134.30,17
2,180000,11680,6,,,,185,1983,2020,1,14,NaT,NaN,60.13,14
3,285000,11680,,,,,1281,2019,2020,1,4,NaT,NaN,94.29,12
4,171000,11680,7,,,,185,1983,2020,1,12,NaT,NaN,60.76,2

In [424]:
df1.tail()

,,,,,,,,,,,,,,,
231899,74000,11260,(102~102),,,,450,1998,2024,11,21,2024-12-13,,84.03,11
231900,50500,11260,.,,,,438,1995,2024,11,13,2024-12-18,,59.34,10
231901,60000,11260,(103~109),,,,450,1997,2024,11,18,2024-11-20,,59.76,4
231902,67000,11260,(102~102),,,,450,1998,2024,11,2,NaT,,59.76,9
231903,11000,11260,,,,,208-4,2012,2024,12,7,NaT,,17.94,15

In [425]:
df1.sample(n=5, random_state =1234)

,,,,,,,,,,,,,,,
163874,59800,11290,,,,,1276,1998,2023,9,20,2023-12-15,NaN,59.94,14
220404,105000,11710,,,,,508,1995,2024,6,22,2024-07-25,,84.76,13
219634,313000,11710,,,,,44,2006,2024,7,9,2024-09-05,,135.82,28
56702,144000,11200,I-PARK,,,2,834,2003,2020,10,6,NaT,NaN,116.22,11
181564,96000,11740,3,,,,490,2011,2024,9,28,2024-12-16,,84.83,5

In [426]:
files = os.listdir()
files = [file for file in files if 'Price' in file and 'csv'  in file]

In [427]:
pd.read_csv(files[0])

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb0 in position 0: invalid start byte

In [428]:
with open(file = files[0], mode = 'rb') as file:
    text = file.read()

In [429]:
text[0:100]

b'\xb0\xc5\xb7\xa1\xb1\xdd\xbe\xd7,\xc1\xf6\xbf\xaa\xc4\xda\xb5\xe5,\xbe\xc6\xc6\xc4\xc6\xae,\xbd\xc3\xb5\xb5\xb8\xed,\xbd\xc3\xb1\xba\xb1\xb8,\xb9\xfd\xc1\xa4\xb5\xbf,\xc1\xf6\xb9\xf8,\xb0\xc7\xc3\xe0\xb3\xe2\xb5\xb5,\xb3\xe2,\xbf\xf9,\xc0\xcf,\xb5\xee\xb1\xe2\xc0\xcf\xc0\xda,\xb8\xc5\xb5\xb5\xc0\xda,\xc0\xfc\xbf\xeb\xb8\xe9\xc0\xfb,\xc3\xfe\n"10'

In [430]:
%time chardet.detect(text[0:100])

CPU times: total: 0 ns
Wall time: 1.8 ms

{'encoding': 'EUC-KR', 'confidence': 0.99, 'language': 'Korean'}

In [431]:
%time chardet.detect(text)

CPU times: total: 2 s
Wall time: 7.25 s

{'encoding': 'CP949', 'confidence': 0.99, 'language': 'Korean'}

In [432]:
%time pd.read_csv(files[0], encoding = 'CP949')

CPU times: total: 31.2 ms
Wall time: 156 ms

,,,,,,,,,,,,,,,
0,"100,500",11680,,,,,12,1992,2020,1,31,NaN,NaN,39.53,13
1,"203,000",11680,,,,,12-2,2004,2020,1,6,NaN,NaN,134.30,17
2,"180,000",11680,6,,,,185,1983,2020,1,14,NaN,NaN,60.13,14
3,"285,000",11680,,,,,1281,2019,2020,1,4,NaN,NaN,94.29,12
4,"171,000",11680,7,,,,185,1983,2020,1,12,NaN,NaN,60.76,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83981,"54,800",11260,,,,,11,2007,2020,12,3,NaN,NaN,100.17,5
83982,"59,800",11260,(103~109),,,,450,1997,2020,12,1,NaN,NaN,59.76,17
83983,"58,000",11260,(103~109),,,,450,1997,2020,12,5,NaN,NaN,59.76,19
83984,"57,500",11260,(101),,,,274-51,2003,2020,12,1,NaN,NaN,116.25,6
83985,"62,500",11260,(103~109),,,,450,1997,2020,12,11,NaN,NaN,59.76,19

In [436]:
%%time
df2 = pd.DataFrame()
for file in files:
    df = pd.read_csv(filepath_or_buffer = file, encoding = 'CP949')
    df2 = pd.concat(objs = [df2, df], ignore_index = True)

CPU times: total: 141 ms
Wall time: 514 ms

In [439]:
%%time
df2 = pd.DataFrame()
for file in files:
    df = pd.read_csv(file, encoding = 'CP949',
                    parse_dates = [''],
                    thousands = ',')
    df2 = pd.concat(objs = [df2, df], ignore_index = True)

CPU times: total: 172 ms
Wall time: 489 ms

In [440]:
df2.tail()

,,,,,,,,,,,,,,,
231899,74000,11260,(102~102),,,,450,1998,2024,11,21,2024-12-13,,84.03,11
231900,50500,11260,.,,,,438,1995,2024,11,13,2024-12-18,,59.34,10
231901,60000,11260,(103~109),,,,450,1997,2024,11,18,2024-11-20,,59.76,4
231902,67000,11260,(102~102),,,,450,1998,2024,11,2,NaT,,59.76,9
231903,11000,11260,,,,,208-4,2012,2024,12,7,NaT,,17.94,15

In [441]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231904 entries, 0 to 231903
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0       231904 non-null  int64
 1       231904 non-null  int64
 2        231904 non-null  object
 3        231904 non-null  object
 4        231904 non-null  object
 5        231904 non-null  object
 6         231904 non-null  object
 7       231904 non-null  int64
 8          231904 non-null  int64
 9          231904 non-null  int64
 10         231904 non-null  int64
 11      79535 non-null   datetime64[ns]
 12       56193 non-null   object
 13      231904 non-null  float64
 14         231904 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(7), object(6)
memory usage: 26.5+ MB

In [443]:
%time df2.to_csv('test.csv', index = False)

CPU times: total: 422 ms
Wall time: 606 ms

In [444]:
with open(file = 'test.csv', mode = 'rb') as file:
    text = file.read()

In [445]:
chardet.detect(text[0:100])

{'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}

In [449]:
%time df3 = pd.read_csv('test.csv', low_memory = False)
df3.info()

CPU times: total: 219 ms
Wall time: 398 ms
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231904 entries, 0 to 231903
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0       231904 non-null  int64
 1       231904 non-null  int64
 2        231904 non-null  object
 3        231904 non-null  object
 4        231904 non-null  object
 5        231904 non-null  object
 6         231904 non-null  object
 7       231904 non-null  int64
 8          231904 non-null  int64
 9          231904 non-null  int64
 10         231904 non-null  int64
 11      79535 non-null   object
 12       56193 non-null   object
 13      231904 non-null  float64
 14         231904 non-null  int64
dtypes: float64(1), int64(7), object(7)
memory usage: 26.5+ MB

In [462]:
%time df2.to_pickle('test.pkl')

CPU times: total: 31.2 ms
Wall time: 122 ms

In [463]:
%time df4 = pd.read_pickle('test.pkl')
df4.info()

CPU times: total: 46.9 ms
Wall time: 113 ms
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231904 entries, 0 to 231903
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0       231904 non-null  int64
 1       231904 non-null  int64
 2        231904 non-null  object
 3        231904 non-null  object
 4        231904 non-null  object
 5        231904 non-null  object
 6         231904 non-null  object
 7       231904 non-null  int64
 8          231904 non-null  int64
 9          231904 non-null  int64
 10         231904 non-null  int64
 11      79535 non-null   datetime64[ns]
 12       56193 non-null   object
 13      231904 non-null  float64
 14         231904 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(7), object(6)
memory usage: 26.5+ MB

In [464]:
os.rename(src ='test.pkl', dst = 'APT_List.pkl')

In [465]:
pd.to_pickle(obj = [df1, df2, df3], filepath_or_buffer = 'testAll.pkl')

In [466]:
pd.read_pickle(filepath_or_buffer = 'testAll.pkl')

[                                                  \
 0       100500  11680                           12  1992
 1       203000  11680                            12-2  2004
 2       180000  11680                6          185  1983
 3       285000  11680                        1281  2019
 4       171000  11680                7          185  1983
 ...        ...    ...                    ...    ...  ...  ...    ...   ...
 231899   74000  11260  (102~102)          450  1998
 231900   50500  11260              .          438  1995
 231901   60000  11260  (103~109)          450  1997
 231902   67000  11260  (102~102)          450  1998
 231903   11000  11260                          208-4  2012


 0       2020   1  31        NaT  NaN   39.53  13
 1       2020   1   6        NaT  NaN  134.30  17
 2       2020   1  14        NaT  NaN   60.13  14
 3       2020   1   4        NaT  NaN   94.29  12
 4       2020   1  12        NaT  NaN   60.76   2
 ...      ...  ..  ..        ...  ...     ...  ..
 231899  2024  11  21 2024-12-13      84.03  11
 231900  2024  11  13 2024-12-18      59.34  10
 231901  2024  11  18 2024-11-20      59.76   4
 231902  2024  11   2        NaT      59.76   9
 231903  2024  12   7        NaT      17.94  15

 [231904 rows x 15 columns],
                                                   \
 0       100500  11680                           12  1992
 1       203000  11680                            12-2  2004
 2       180000  11680                6          185  1983
 3       285000  11680                        1281  2019
 4       171000  11680                7          185  1983
 ...        ...    ...                    ...    ...  ...  ...    ...   ...
 231899   74000  11260  (102~102)          450  1998
 231900   50500  11260              .          438  1995
 231901   60000  11260  (103~109)          450  1997
 231902   67000  11260  (102~102)          450  1998
 231903   11000  11260                          208-4  2012


 0       2020   1  31        NaT  NaN   39.53  13
 1       2020   1   6        NaT  NaN  134.30  17
 2       2020   1  14        NaT  NaN   60.13  14
 3       2020   1   4        NaT  NaN   94.29  12
 4       2020   1  12        NaT  NaN   60.76   2
 ...      ...  ..  ..        ...  ...     ...  ..
 231899  2024  11  21 2024-12-13      84.03  11
 231900  2024  11  13 2024-12-18      59.34  10
 231901  2024  11  18 2024-11-20      59.76   4
 231902  2024  11   2        NaT      59.76   9
 231903  2024  12   7        NaT      17.94  15

 [231904 rows x 15 columns],
                                                   \
 0       100500  11680                           12  1992
 1       203000  11680                            12-2  2004
 2       180000  11680                6          185  1983
 3       285000  11680                        1281  2019
 4       171000  11680                7          185  1983
 ...        ...    ...                    ...    ...  ...  ...    ...   ...
 231899   74000  11260  (102~102)          450  1998
 231900   50500  11260              .          438  1995
 231901   60000  11260  (103~109)          450  1997
 231902   67000  11260  (102~102)          450  1998
 231903   11000  11260                          208-4  2012


 0       2020   1  31         NaN  NaN   39.53  13
 1       2020   1   6         NaN  NaN  134.30  17
 2       2020   1  14         NaN  NaN   60.13  14
 3       2020   1   4         NaN  NaN   94.29  12
 4       2020   1  12         NaN  NaN   60.76   2
 ...      ...  ..  ..         ...  ...     ...  ..
 231899  2024  11  21  2024-12-13      84.03  11
 231900  2024  11  13  2024-12-18      59.34  10
 231901  2024  11  18  2024-11-20      59.76   4
 231902  2024  11   2         NaN      59.76   9
 231903  2024  12   7         NaN      17.94  15

 [231904 rows x 15 columns]]

In [467]:
a = 1,
b = 2.0,
c = '3'

In [468]:
pd.to_pickle(obj = [a,b,c], filepath_or_buffer = 'testAll2.pkl')

In [469]:
d, e, f = pd.read_pickle(filepath_or_buffer = 'testAll2.pkl')

In [470]:
print(d)
print(e)
print(f)

(1,)
(2.0,)
3

In [473]:
files = os.listdir()
files = [file for file in files if 'test' in file]

In [474]:
for file in files:
    os.remove(file)

In [475]:
os.listdir()

['APT_Detail_Seoul_2024.csv',
 'APT_Detail_Seoul_2024.xlsx',
 'APT_List.pk1',
 'APT_List.pkl',
 'APT_Price_Seoul(2020~2024).xlsx',
 'APT_Price_Seoul_2020.csv',
 'APT_Price_Seoul_2021.csv',
 'APT_Price_Seoul_2022.csv',
 'APT_Price_Seoul_2023.csv',
 'APT_Price_Seoul_2024.csv',
 'KBO_Hitter_Stats_2024.csv',
 'KBO_Pitcher_Stats_2024.csv',
 'MPRC_2024.csv',
 'MPRC_2024.xlsx',
 'MPRC_List.xlsx',
 'MPRC_List_2.xlsx',
 'NA_Sample.xlsx']